<header>
  <div class="navbar">
    <div class="nav_logo">
      <img src="/imgs/pulse-logo.png" alt="Pulse Logo" />
    </div>
    <div class="nav_items_container">
      <h2>Admin Panel</h2>
    </div>
  </div>
</header>
