<aside class="aside_container">
    <div class="toggle-btn">
        <button><ion-icon name="menu-outline"></ion-icon></button>
    </div>
    <div class="aside_bar">
        <div class="aside_title">
            <h1>Dashboard</h1>
        </div>
        <ul class="aside_items">
            <li class="aside_item"><a href="/admin">Home</a></li>
            <li class="aside_item"><a href="/admin/users/">Users</a></li>
            <li class="aside_item"><a href="/admin/faculty">Faculty</a></li>
            <li class="aside_item"><a href="/admin/events">Events</a></li>
            <li class="aside_item"><a href="/admin/event-registrations">Event Registrations</a></li>
            <li class="aside_item"><a href="/admin/pulseregistered">Pulse registered</a></li>
            <li class="aside_item"><a href="/admin/blood">Blood</a></li>
            <li class="aside_item"><a href="/admin/logout">Log out</a></li>
        </ul>
    </div>
</aside>
