<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../styles/club.css" />
   <link
      rel="shortcut icon"
      href="./../imgs/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="./../imgs/apple-touch-icon.png" />
    <link rel="manifest" href="./../imgs/site.webmanifest" />
    <title>Pulse</title>
  </head>
  <body>
      <div class="loader_container">
      <div class="svg_container-loader">
        <svg
          class="res_cap_svg"
          width="484"
          height="53"
          viewBox="0 0 484 53"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="resistor"
            d="M0 22.432H21.3213L34.6243 9L57.4035 32L80.1826 9L102.962 32L125.741 9L148.52 32L157.996 22.432H182"
            stroke="white"
            stroke-width="1.1"
          />
          <path
            class="inductor"
            d="M294 22.8416H326C327.833 14.6749 334.2 -1.05844 345 1.34156C358.5 4.34156 359 42.8416 352 50.8416C345 58.8416 341.5 6.34155 367 1.34156C392.5 -3.65842 379.5 47.8416 377 50.8416C374.5 53.8416 367 3.84155 396 1.34156C425 -1.15842 405 60.8416 402 50.8416C399 40.8416 404.5 1.34156 423.5 1.34156C442.5 1.34156 434 62.8416 430 50.8416C426.8 41.2416 434.667 28.1749 439 22.8416H483.5"
            stroke="white"
          />
        </svg>
        <svg
          class="capacitor_svg"
          width="184"
          height="63"
          viewBox="0 0 90 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path class="capacitor" d="M0 15.5H40V31V0" />
          <path
            class="capacitor"
            d="M89.0841 15.7184L49.0847 15.4998L49.1695 1.36718e-06L49 30.9995"
          />
        </svg>
      </div>
    </div>
     <svg class="cursor" width="100" height="100" viewBox="0 0 140 140">
      <defs>
        <filter
          id="filter-1"
          x="-50%"
          y="-50%"
          width="200%"
          height="200%"
          filterUnits="objectBoundingBox"
        >
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0"
            numOctaves="10"
            result="warp"
          ></feTurbulence>
          <feDisplacementMap
            xChannelSelector="R"
            yChannelSelector="G"
            scale="60"
            in="SourceGraphic"
            in2="warp"
          ></feDisplacementMap>
        </filter>
      </defs>
      <circle
        class="cursor__inner"
        cx="70"
        cy="70"
        r="60"
        style="stroke-width: 1px; filter: none"
      ></circle>
    </svg>

      <div class="navbar">
      <span></span>
      <div class="pulse_logo">
          <a href="/">
           <img src="./../imgs/pulse-logo.png" alt="" />
          </a>
      </div>
      <div class="nav_menu">
        <ul class="nav_items">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/aboutus">About</a></li>
          <li class="nav-item"><a href="/events">Events</a></li>
          <li class="nav-item"><a href="/club">Clubs</a></li>
          <li class="nav-item"><a href="/gallery">Gallery</a></li>
          <li class="nav-item"><a href="/faculty-core">Faculty</a></li>
          <li class="nav-item"><a href="/blood">Blood</a></li>
          <li class="nav-item"><a href="/team">Team</a></li>
          <li class="nav-item"><a href="/contactus">Contact</a></li>
        <% if(typeof session.user === 'undefined' || !session.user) {%>
          <li class="nav-item"><a href="/signin">Sign in</a></li>
          <li class="nav-item"><a href="/signup">Sign up</a></li>
          <%}%> <% if(typeof session.user !== 'undefined' && session.user) {%>
          <li class="nav-item"><a href="/profile">Profile</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>

          <%}%>
          <li>
            <ul class="socialmedia-icon">
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu-btn">
        <div class="menu-btn-burger"></div>
      </div>
    </div>
    <div class="container">
      <section class="club club_grid--right embedded_iot">
        <div class="club_img"></div>
        <div class="club_content">
          <div class="club_svg">
            <svg
              width="327"
              height="319"
              viewBox="0 0 127 119"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="wifi"
                d="M1.5 22C21 6.33337 73.2 -15.6 126 22"
                stroke="#2B8A3E"
                stroke-width="3"
                stroke-linecap="round"
              />
              <path
                class="wifi"
                d="M19 40C32.9398 26.4168 70.2554 7.40027 108 40"
                stroke="#2B8A3E"
                stroke-width="3"
                stroke-linecap="round"
              />
              <path
                class="wifi"
                d="M34 58C43.8675 48.9445 70.2819 36.2668 97 58"
                stroke="#2B8A3E"
                stroke-width="3"
                stroke-linecap="round"
              />
              <rect
                class="ic1"
                x="46"
                y="72"
                width="37"
                height="37"
                rx="4"
                stroke="#2B8A3E"
                stroke-width="3"
              />
              <rect
                class="ic1"
                x="53"
                y="78"
                width="24"
                height="24"
                rx="4"
                stroke="#2B8A3E"
                stroke-width="3"
              />
              <rect
                class="rect"
                x="59.5"
                y="86.5"
                width="10"
                height="1"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M84.5 78.5H92C92.2761 78.5 92.5 78.7239 92.5 79C92.5 79.2761 92.2761 79.5 92 79.5H84.5V78.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M84.5 89.5H92C92.2761 89.5 92.5 89.7239 92.5 90C92.5 90.2761 92.2761 90.5 92 90.5H84.5V89.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M84.5 100.5H92C92.2761 100.5 92.5 100.724 92.5 101C92.5 101.276 92.2761 101.5 92 101.5H84.5V100.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M37 78.5H44.5V79.5H37C36.7239 79.5 36.5 79.2761 36.5 79C36.5 78.7239 36.7239 78.5 37 78.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M53.5 63V70.5H52.5V63C52.5 62.7239 52.7239 62.5 53 62.5C53.2761 62.5 53.5 62.7239 53.5 63Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M65.5 63V70.5H64.5V63C64.5 62.7239 64.7239 62.5 65 62.5C65.2761 62.5 65.5 62.7239 65.5 63Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M76.5 63V70.5H75.5V63C75.5 62.7239 75.7239 62.5 76 62.5C76.2761 62.5 76.5 62.7239 76.5 63Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M53.5 110.5V118C53.5 118.276 53.2761 118.5 53 118.5C52.7239 118.5 52.5 118.276 52.5 118V110.5H53.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M65.5 110.5V118C65.5 118.276 65.2761 118.5 65 118.5C64.7239 118.5 64.5 118.276 64.5 118V110.5H65.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M76.5 110.5V118C76.5 118.276 76.2761 118.5 76 118.5C75.7239 118.5 75.5 118.276 75.5 118V110.5H76.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M37 89.5H44.5V90.5H37C36.7239 90.5 36.5 90.2761 36.5 90C36.5 89.7239 36.7239 89.5 37 89.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="rect"
                d="M37 100.5H44.5V101.5H37C36.7239 101.5 36.5 101.276 36.5 101C36.5 100.724 36.7239 100.5 37 100.5Z"
                stroke="#2B8A3E"
              />
              <rect
                class="rect"
                x="59.5"
                y="93.5"
                width="10"
                height="1"
                stroke="#2B8A3E"
              />
            </svg>
          </div>
          <div class="club_title">
            <h2>EMBEDDED IOT</h2>
          </div>
          <div class="club_incharge">
            <h3>Faculty incharge :</h3>
            <h3>Student incharge :</h3>
          </div>
          <div class="club_info">
            <p>
              Embedded IOT is a technical body of Department of Electronics and
              Communication Engineering. Internet of Things (IoT) is another
              worldview that has changed the conventional method of living into
              an innovative way of life. Smart city, smart homes, contamination
              control, energy saving, keen transportation, brilliant enterprises
              are such changes because of IoT. A ton of critical exploration
              studies and examinations have been done to improve the innovation
              through IoT. Notwithstanding, there are still a ton of
              difficulties and issues that should be addressed to accomplish the
              maximum capacity of IoT. These difficulties and issues should be
              considered from different parts of IoT like applications,
              challenges, empowering advancements, social and natural effects
              and so on. This is the objective of the club. Here in this club
              different IoT solutions are solved with group work giving a
              particular task according to application. This club welcomes every
              person whether a faculty or Students are welcome. The work you
              have learned here will enhance your future. The solutions are
              covering using Advanced Microcontrollers like 32bit,16bit and 8bit
              with internet Connectivity.
            </p>
            <div class="club_join">
              <a href="/joinpulse" class="join_club_btn">Join club</a>
            </div>
          </div>
        </div>
      </section>

      <section class="club club_grid--left always_vlsi">
        <div class="club_content">
          <div class="club_svg">
            <svg
              width="305"
              height="410"
              viewBox="0 0 105 110"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                class="ic2"
                x="19"
                y="23"
                width="67"
                height="67"
                rx="7"
                stroke="#2B8A3E"
                stroke-width="3"
              />
              <rect
                class="ic2"
                x="37"
                y="41"
                width="30"
                height="30"
                rx="7"
                stroke="#2B8A3E"
                stroke-width="3"
              />
              <path
                class="line"
                d="M31 10H32C32 9.44772 31.5523 9 31 9V10ZM10.6667 10C10.6667 12.9455 13.0545 15.3333 16 15.3333C18.9455 15.3333 21.3333 12.9455 21.3333 10C21.3333 7.05448 18.9455 4.66667 16 4.66667C13.0545 4.66667 10.6667 7.05448 10.6667 10ZM32 21V10H30V21H32ZM31 9H16V11H31V9Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M47.6667 6C47.6667 8.94552 50.0545 11.3333 53 11.3333C55.9455 11.3333 58.3333 8.94552 58.3333 6C58.3333 3.05448 55.9455 0.666667 53 0.666667C50.0545 0.666667 47.6667 3.05448 47.6667 6ZM54 21L54 6L52 6L52 21L54 21Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M74.5 11V10C73.9477 10 73.5 10.4477 73.5 11H74.5ZM84.1667 11C84.1667 13.9455 86.5545 16.3333 89.5 16.3333C92.4455 16.3333 94.8333 13.9455 94.8333 11C94.8333 8.05448 92.4455 5.66667 89.5 5.66667C86.5545 5.66667 84.1667 8.05448 84.1667 11ZM75.5 21V11H73.5V21H75.5ZM74.5 12H89.5V10H74.5V12Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M99 35.5V36.5C99.5523 36.5 100 36.0523 100 35.5H99ZM93.6667 22.5C93.6667 25.4455 96.0545 27.8333 99 27.8333C101.946 27.8333 104.333 25.4455 104.333 22.5C104.333 19.5545 101.946 17.1667 99 17.1667C96.0545 17.1667 93.6667 19.5545 93.6667 22.5ZM88 36.5H99V34.5H88V36.5ZM100 35.5V22.5H98V35.5H100Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M93.6667 57.5C93.6667 60.4455 96.0545 62.8333 99 62.8333C101.946 62.8333 104.333 60.4455 104.333 57.5C104.333 54.5545 101.946 52.1667 99 52.1667C96.0545 52.1667 93.6667 54.5545 93.6667 57.5ZM88 58.5H99V56.5H88V58.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M99 79.5H100C100 78.9477 99.5523 78.5 99 78.5V79.5ZM93.6667 93.5C93.6667 96.4455 96.0545 98.8333 99 98.8333C101.946 98.8333 104.333 96.4455 104.333 93.5C104.333 90.5545 101.946 88.1667 99 88.1667C96.0545 88.1667 93.6667 90.5545 93.6667 93.5ZM88 80.5H99V78.5H88V80.5ZM98 79.5V93.5H100V79.5H98Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M75 103.5H74C74 104.052 74.4477 104.5 75 104.5V103.5ZM83.1667 103.5C83.1667 106.446 85.5545 108.833 88.5 108.833C91.4455 108.833 93.8333 106.446 93.8333 103.5C93.8333 100.554 91.4455 98.1667 88.5 98.1667C85.5545 98.1667 83.1667 100.554 83.1667 103.5ZM74 92V103.5H76V92H74ZM75 104.5H88.5V102.5H75V104.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M47.1667 104C47.1667 106.946 49.5545 109.333 52.5 109.333C55.4455 109.333 57.8333 106.946 57.8333 104C57.8333 101.054 55.4455 98.6667 52.5 98.6667C49.5545 98.6667 47.1667 101.054 47.1667 104ZM51.5 92V104H53.5V92H51.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M30 103.5V104.5C30.5523 104.5 31 104.052 31 103.5H30ZM10.6667 103.5C10.6667 106.446 13.0545 108.833 16 108.833C18.9455 108.833 21.3333 106.446 21.3333 103.5C21.3333 100.554 18.9455 98.1667 16 98.1667C13.0545 98.1667 10.6667 100.554 10.6667 103.5ZM29 92V103.5H31V92H29ZM30 102.5H16V104.5H30V102.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M6 79.5V78.5C5.44772 78.5 5 78.9477 5 79.5H6ZM0.666667 93.5C0.666667 96.4455 3.05448 98.8333 6 98.8333C8.94552 98.8333 11.3333 96.4455 11.3333 93.5C11.3333 90.5545 8.94552 88.1667 6 88.1667C3.05448 88.1667 0.666667 90.5545 0.666667 93.5ZM17 78.5H6V80.5H17V78.5ZM5 79.5V93.5H7V79.5H5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M0.666667 57.5C0.666667 60.4455 3.05448 62.8333 6 62.8333C8.94552 62.8333 11.3333 60.4455 11.3333 57.5C11.3333 54.5545 8.94552 52.1667 6 52.1667C3.05448 52.1667 0.666667 54.5545 0.666667 57.5ZM17 56.5H6V58.5H17V56.5Z"
                stroke="#2B8A3E"
              />
              <path
                class="line"
                d="M6 35H5C5 35.5523 5.44772 36 6 36V35ZM0.666667 21C0.666667 23.9455 3.05448 26.3333 6 26.3333C8.94552 26.3333 11.3333 23.9455 11.3333 21C11.3333 18.0545 8.94552 15.6667 6 15.6667C3.05448 15.6667 0.666667 18.0545 0.666667 21ZM17 34H6V36H17V34ZM7 35V21H5V35H7Z"
                stroke="#2B8A3E"
              />
            </svg>
          </div>
          <div class="club_title">
            <h2>ALWAYS@(VLSI)</h2>
          </div>
          <div class="club_incharge">
            <h3>Faculty incharge :</h3>
            <h3>Student incharge :</h3>
          </div>
          <div class="club_info">
            <p>
              Always@(VLSI) Always@VLSI is a technical body of Electronics and
              Communication Engineering department. Very large-scale integration
              (VLSI) technology where we work to integrate billons of
              transistors on a single chip. VLSI Is about designing and
              manufacturing integrated circuits for multi-disciplinary domains.
              Here we design innovative modules of VLSI Integrated circuits.
              This club provide the Extensive knowledge on VLSI_ design and
              create productive environment among the students. As a part of the
              club, we will work together to design and develop VLSI solutions
              It helps to learn new techniques of designing and increase
              curiosity of knowledge on core field. For Anyone who want to build
              his/her carrier in VLSI Field we provide enormous support in their
              learning path. We Inspire, innovate and integrate the world with
              Semiconductor Electronics.
            </p>
            <div class="club_join">
              <a href="/joinpulse" class="join_club_btn">Join club</a>
            </div>
          </div>
        </div>
        <div class="club_img"></div>
      </section>

      <section class="club club_grid--right ni_labview">
        <div class="club_img"></div>
        <div class="club_content">
          <div class="club_svg">
            <svg
              width="277"
              height="253"
              viewBox="0 0 77 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="ni_logo"
                d="M17.5 19.5H1.5V52H17.5V19.5Z"
                stroke="#2B8A3E"
                stroke-width="2"
                stroke-linejoin="round"
              />
              <path
                class="ni_logo"
                d="M18 19V2.50004C43.6 -1.09996 50.3333 12 50.5 19V52H34V19H18Z"
                stroke="#2B8A3E"
                stroke-width="2"
                stroke-linejoin="round"
              />
              <path
                class="ni_logo"
                d="M75.5 3H59V35C59 47 70 51.3334 75.5 52V3Z"
                stroke="#2B8A3E"
                stroke-width="2"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="club_title">
            <h2>NI LABVIEW</h2>
          </div>
          <div class="club_incharge">
            <h3>Faculty incharge :</h3>
            <h3>Student incharge :</h3>
          </div>
          <div class="club_info">
            <p>
              NI LabVIEW Centre of Excellence (KLEF NI COE) in the Department of
              Electronics and Communication Engineering, is equipped with one
              crore worth NI hardware that includes application based
              measurement specific modules (myDAQ,cDAQ,myRIO,cRIO), protocol
              support FPGA-enabled hardware, and options for industrial , and
              rugged locations campus licensed LabVIEW software and data
              acquisition with real time sensors for automation. Our KLEF NI COE
              has been awarded as the Best Graphical system Design. More than
              300 faculty and 5000 students have been trained and certified in
              LabVIEW. KLEF NI COE runs a NI Technical Club which organizes
              various training for students and faculty such as CLAD, CLD, NI
              hardware, State and National level Project Competitions, Workshops
              and other technical events.
            </p>
            <div class="club_join">
              <a href="/joinpulse" class="join_club_btn">Join club</a>
            </div>
          </div>
        </div>
      </section>
       <div class="contact_footer">
        <div class="footer_logo">
          <img src="./../imgs/pulse-logo.png" alt="" />
        </div>
        <div class="footer_content">
          <ul class="socialmedia-icon-map">
              <li class="socialmedia_icons-map">
                <a href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons-map">
                <a href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons-map">
                <a href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons-map">
                <a href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.33/dist/lenis.min.js"></script>
    <script src="/scripts/cursor-hover.js"></script>
    <script src="/scripts/club.js"></script>
  </body>
</html>
