<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="./../imgs/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="./../imgs/apple-touch-icon.png" />
    <link rel="manifest" href="./../imgs/site.webmanifest" />
    <title>Pulse</title>
    <link rel="stylesheet" href="/styles/resetpassword.css" />
  </head>
  <body>
    <section class="resetpassword_section">
      <div class="alert-msg">
        <span> <ion-icon name="warning-outline"></ion-icon> </span>
        <span>error occurs</span>
      </div>
      <div class="alert-msg-success">
        <span> <ion-icon name="checkmark-done-outline"></ion-icon> </span>
        <span>error occurs</span>
      </div>
      <% if(typeof user!==undefined && user){%>

      <div class="resetpassword">
        <div class="pulse_logo">
          <img src="./../imgs/pulse-logo.png" alt="" />
        </div>
        <form
          action="/resetpassword/<%= token %>"
          method="post"
          class="reset_form"
        >
          <div class="input_control">
            <input
              type="password"
              name="password"
              id="password"
              required
              placeholder="new password"
              minlength="8"
            />
          </div>
          <div class="input_control">
            <input
              type="password"
              name="reenter"
              id="reenter"
              required
              placeholder="re-enter"
              minlength="8"
            />
          </div>
          <div class="input_control" style="text-align: center">
            <button class="send_btn">Reset password</button>
          </div>
          <div class="input_control input_control_signup">
            <a class="signin_link" href="/signup"
              >Do you have an account?
              <span style="color: #4dabf7">Sign up</span></a
            >
          </div>
        </form>
      </div>
      <% } else{%>
      <div class="resetpassword">
        <div class="pulse_logo">
          <img src="./../imgs/textured-pulse.png" alt="" />
        </div>
        <h1 style="color: #eee; text-align: center; font-size: 3rem">
          Link Expired
        </h1>
        <p style="color: #eee; text-align: center">
          The link you requested has expired.
          <span
            ><a href="/forgotpassword" style="color: #eee; font-size: 2rem"
              >Resubmit</a
            ></span
          >
        </p>
      </div>
      <% }%>
    </section>
    <script src="/scripts/resetpassword.js"></script>
  </body>
</html>
