* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::placeholder {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}
html {
  font-size: 65.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}
.alert-msg span,
.alert-msg-success span {
  display: block;
}
.alert-msg,
.alert-msg-success {
  position: absolute;
  display: flex;
  top: 13%;
  right: 5%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  font-size: 1.4rem;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  transform: translateX(0px);
  transition: all 1s;
}
.alert-msg {
  color: red;
  border-left: 5px solid red;
}
.alert-msg-success {
  color: #2f9e44;
  border-left: 5px solid #2f9e44;
}
.alert-msg.active,
.alert-msg-success.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(-30px);
}
@media (max-width: 27em) {
  .alert-msg,
  .alert-msg-success {
    font-size: 1rem;
    top: 18%;
    right: 0%;
    transform: translateX(-2px);
  }
}
@media (max-width: 27em) {
  .alert-msg,
  .alert-msg-success {
    font-size: 1rem;
    top: 18%;
    right: 0%;
    transform: translateX(-2px);
  }
}
.forgotpassword_section {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: url('./../imgs/pulse-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 71%, 0 90%, 0 0);
  filter: brightness(0.7);
}
.forgotpassword {
  max-width: 40%;
  margin: 100px auto;
}
.pulse_logo {
  text-align: center;
}
.pulse_logo img {
  width: 220px;
  height: 100px;
  object-fit: cover;
}
.input_control {
  margin: 10px 0;
  text-align: center;
}

.input_control input,
.input_control select,
.input_control textarea {
  width: 90%;
  font-size: 1.8rem;
  background: none;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: inherit;
  background: #ffffff48;
  color: #fff;
}

.input_control input:focus {
  border-bottom: 3px solid #7ed56f;
}

.input_control input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.send_form {
  margin: 50px auto;
  padding: 10px;
  max-width: 100%;
  border: 1px solid #7ed56f;
  border-radius: 10px;
}
.send_btn {
  margin: 0 auto;
  position: relative;
  background: #02e07836;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 50%;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #02e079;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.send_btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: 0;
  background: #02e079;
  transform: translate(-30px, 80px) rotate(10deg);
  transition: all 0.3s ease-in;
}
.send_btn::before {
  content: 'Send mail';
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: inherit;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 100%) rotate(10deg);
  transition: all 0.3s ease-in;
  z-index: 1;
}
.send_btn:hover::before {
  transform: translate(-50%, -50%) rotate(0deg);
}
.send_btn:hover::after {
  width: 500%;
  height: 900%;
  left: -40%;
  transform: translate(-30px, 0) rotate(10deg);
}
.forgotpassword_desc p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: #fff;
  font-size: 1.4rem;
  padding: 10px;
}
.signin_link,
.forgotpassword_link {
  display: inline-block;
  text-decoration: none;
  color: #02e079;
  font-size: 1.5rem;
}
.button_control.active .send_btn {
  margin: 0 auto;
  position: relative;
  background: #02e07836;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 50%;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #02e079;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.button_control.active {
  pointer-events: none;
}
.button_control.active .send_btn::after {
  display: none;
}
.button_control.active .send_btn::before {
  display: none;
}
@media (max-width: 49em) {
  .send_btn {
    width: 70%;
  }
  .forgotpassword {
    max-width: 50%;
  }
}
@media (max-width: 27em) {
  html {
    font-size: 45%;
  }
  .send_btn {
    width: 70%;
  }
  .forgotpassword {
    max-width: 90%;
  }
}
.sub-loader {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-top: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  animation: 1s infinite linear loaderAni;
  display: none;
}
.sub-loader.active {
  display: block;
}
@keyframes loaderAni {
  100% {
    transform: rotate(1turn);
  }
}
